.title {
  text-align: center;
  color: red;
    font-family: comic sans MS, sans-serif;
  font-size: 45px;
}
#main {
  background-color: black;
}
#quote {
  text-align: center;
  font-size: 30px
}
#everything {
  background-color: grey;
}
#warning-bar {
	background-color: yellow;
	height: 500px;
}
#spoiler-warning {
	color: black;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	font-style: italic;
}